<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DataDriven">
	<test name="Bank Manager Login Test">
		<classes>
			<class name="com.uttara.testcases.BankManagerLoginTest" />
		</classes>
	</test> <!-- Login -->

	<test name="Add customer test">
		<classes>
			<class name="com.uttara.testcases.AddCustomerTest" />
		</classes>
	</test> <!-- AddCustomerTest -->

</suite> <!-- DataDriven -->
