<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DataDriven">
  <test thread-count="5" name="Login">
    <classes>
      <class name="com.uttara.testcases.LoginTest"/>
      <class name="com.uttara.base.TestBase"/>
    </classes>
  </test> <!-- Login -->
</suite> <!-- DataDriven -->
